.Divbarra {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 23%;
  height: 100%;
  background-color: rgba(15, 66, 15, 0.09);
  border-radius: 5px;

}

.Divbarra label {
  margin-left: 3%;
  font-size: 90%;
  color: rgb(255, 255, 255);
  font-weight: 580;
  width: 80%;
}





.Divbarra .random:hover {
  color:rgb(90, 90, 90)
}

;

.Divbarra .random:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

;


.random:hover {
  background-color: grey;
}

.inputcontainer {
  position: relative;
  display: inline-block;
  
}

.inputfield {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60px;
  height: 25px;
}

.searchicon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  border: 0px;
  padding: 0px;
  background-color: transparent;
}


/*Extra small devices(phones, 600px and down)*/
@media only screen and (min-width: 200px) {
  .navbar{
    display: flex;
    align-items: center;
  }
  .inputcontainer {
    position: relative;
    display: inline-block;
    
  }
  
  .inputfield {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 87px;
    height: 20px;
  }
  
  .searchicon {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
  }


  .Divbarra {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 250px;
    height: 80%;
    background-color: rgba(15, 66, 15, 0.09);
    border-radius: 5px;
  
  }


  .Divbarra label {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 90%;
    color: rgb(255, 255, 255);
    font-weight: 580;
    width: 100px;
  }


.Divbarra .random {
 
  background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
  color: rgb(255, 255, 255);
  border-radius: 10em;
  font-size: 90%;
  font-weight: 580;
  padding: 0.8% 4%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0px solid black;
  box-shadow: 0 0 0 0 black;
  margin-left:10px
}

.Divbarra .random:hover {
  color:rgb(90, 90, 90)
}

;

.Divbarra .random:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

}

@media only screen and (min-width: 600px) {
  .InputLupa {
    height: 80%;
    width: 60%;
    position: relative;
    top: 17%;
    left: -6%;
    margin: 0%;
    padding: 0%;
  }

  .Divbarra {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 300px;
    height: 80%;
    background-color: rgba(15, 66, 15, 0.09);
    border-radius: 5px;
  
  }


.Divbarra .random {
  
  
  margin-left: 5px;
  background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
  color: rgb(255, 255, 255);
  border-radius: 10em;
  font-size: 90%;
  font-weight: 580;
  padding: 0.8% 4%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0px solid black;
  box-shadow: 0 0 0 0 black;
}

.Divbarra .random:hover {
  color:rgb(90, 90, 90)
}

;

.Divbarra .random:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.lupa {
  position: absolute;
  background-color: transparent;
  border: 0px;
  top: 7%;
  left: 80%;
  cursor: pointer
}
.lupa:hover{
  position: absolute;
  background-color: rgb(185, 182, 182);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  border: 0px;
  top: 7%;
  left: 80%;
  cursor: pointer
}
 

}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
  .InputLupa {
    height: 80%;
    width: 60%;
    position: relative;
    top: 17%;
    left: -6%;
    margin: 0%;
    padding: 0%;
  }

  .lupa {
    position: absolute;
    background-color: transparent;
    border: 0px;
    top: 7%;
    left: 80%;
    cursor: pointer
  }
  .lupa:hover{
    position: absolute;
    background-color: rgb(185, 182, 182);
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    border: 0px;
    top: 7%;
    left: 80%;
    cursor: pointer
  }
  
 
  .Divbarra {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 80%;
    background-color: rgba(15, 66, 15, 0.09);
    border-radius: 5px;
  
  }



.Divbarra .random {
  margin: 1.5%;
  margin-top: 0.9%;
  height: 51%;
  margin-left: 10px;
  background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
  color: rgb(255, 255, 255);
  border-radius: 10em;
  font-size: 90%;
  font-weight: 580;
  padding: 0.8% 4%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0px solid black;
  box-shadow: 0 0 0 0 black;
}

.Divbarra .random:hover {
  color:rgb(90, 90, 90)
}

;

.Divbarra .random:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
}