/*NAVBAR*/
.nav {
    position: absolute;
    width: 100%;
    height: 8%;
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    border-radius: 5px;
}

#HeartNav {
    color: red;
}

.ConteinerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedorReproductor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    padding: 0px;
    border-color: #129007;
    transition: all 0.5s ease-in-out;

}

.contenedorReproductor:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 0px;
    border-color: #129007;
}

.Reproductor {
    width: 250px;
    height: 30px;


}

/* Cambia el color del fondo de los controles */
audio::-webkit-media-controls-panel {
    background-color: #197914
}


/*HOME*/

#salirHome {
    position: absolute;
    top: 23%;
    right: 1.5%;
    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 90%;
    font-weight: 580;
    padding: 0.3% 1%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}

#salirHome:hover {
    color: rgb(185, 182, 182)
}

#salirHome:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#bt1Home {
    position: absolute;
    top: 23%;
    right: 6.9%;
    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 90%;
    font-weight: 580;
    padding: 0.3% 1%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt1Home:hover {
    color: rgb(185, 182, 182)
}

;

#bt1Home:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}


#bt3Home {
    position: absolute;
    top: 23%;
    left: 23.5%;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 90%;
    font-weight: 580;
    padding: 0.3% 1%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt3Home:hover {
    color: rgb(185, 182, 182)
}

;

#bt3Home:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/*FAVORITE*/

#bt1Favorite {
    position: absolute;
    top: 13px;
    right: 20px;
    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt1Favorite:hover {
    color: rgb(185, 182, 182)
}

;

#bt1Favorite:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#bt2Favorite {
    position: absolute;
    top: 13px;
    left: 15px;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt2Favorite:hover {
    color: rgb(185, 182, 182)
}

;

#bt2Favorite:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/*ABOUT*/

#bt2About {
    position: absolute;
    top: 13px;
    left: 15px;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt2About:hover {
    color: rgb(185, 182, 182)
}

;

#bt2About:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#bt3About {
    position: absolute;
    top: 13px;
    left: 100px;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt3About:hover {
    color: rgb(185, 182, 182)
}

;

#bt3About:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/*DETAIL*/

#bt1Detail {
    position: absolute;
    top: 13px;
    right: 20px;
    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt1Detail:hover {
    color: rgb(185, 182, 182)
}

;

#bt1Detail:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#bt2Detail {
    position: absolute;
    top: 13px;
    left: 15px;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt2Detail:hover {
    color: rgb(185, 182, 182)
}

;

#bt2Detail:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

#bt3Detail {
    position: absolute;
    top: 13px;
    left: 100px;

    /* Variables */
    background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
    color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: 14px;
    font-weight: 580;
    padding: 0.3em 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid black;
    box-shadow: 0 0 0 0 black;
}


#bt3Detail:hover {
    color: rgb(185, 182, 182)
}

;

#bt3Detail:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

/*Extra small devices(phones, 600px and down)*/
@media only screen and (min-width: 200px) {}

@media only screen and (min-width: 600px) {
    .pos-f-t {
        display: none;
    }

    .nav {
        position: absolute;
        width: 100%;
        height: 6%;
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        border-radius: 5px;
    }

    /*HOME*/

    #bt1Home {
        position: absolute;
        top: 23%;
        right: 8.3%;
        /* Variables */
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        color: rgb(255, 255, 255);
        border-radius: 10em;
        font-size: 90%;
        font-weight: 580;
        padding: 0.3% 1%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 0px solid black;
        box-shadow: 0 0 0 0 black;
    }


    #bt1Home:hover {
        color: rgb(185, 182, 182)
    }

    ;

    #bt1Home:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }

    #bt3Home {
        position: absolute;
        top: 23%;
        left: 40.5%;

        /* Variables */
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        color: rgb(255, 255, 255);
        border-radius: 10em;
        font-size: 90%;
        font-weight: 580;
        padding: 0.3% 1%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 0px solid black;
        box-shadow: 0 0 0 0 black;
    }


    #bt3Home:hover {
        color: rgb(185, 182, 182)
    }

    ;

    #bt3Home:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }

}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
    .pos-f-t {
        display: none;
    }

    .nav {
        position: absolute;
        width: 100%;
        height: 8%;
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        border-radius: 5px;
    }

    #bt1Home {
        position: absolute;
        top: 23%;
        right: 6.8%;
        /* Variables */
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        color: rgb(255, 255, 255);
        border-radius: 10em;
        font-size: 90%;
        font-weight: 580;
        padding: 0.3% 1%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 0px solid black;
        box-shadow: 0 0 0 0 black;
    }


    #bt1Home:hover {
        color: rgb(185, 182, 182)
    }

    ;

    #bt1Home:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }

    #bt3Home {
        position: absolute;
        top: 23%;
        left: 23.5%;

        /* Variables */
        background-image: linear-gradient(to top, #1c371a, #1d4c1b, #1c6219, #197914, #129007);
        color: rgb(255, 255, 255);
        border-radius: 10em;
        font-size: 90%;
        font-weight: 580;
        padding: 0.3% 1%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 0px solid black;
        box-shadow: 0 0 0 0 black;
    }


    #bt3Home:hover {
        color: rgb(185, 182, 182)
    }

    ;

    #bt3Home:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
    }

}